<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./js/angularJS.js"></script>
    <!--TODO: 这里可以改为cdn的文件来减轻负担 -->
    <link rel="stylesheet" href="./style/index.css">
    <!-- <script src="./js/angular-sanitize.js"></script> -->
    <title>神行Blog</title>
</head>

<body ng-app="state" ng-controller="user">
    <header>
        logo <br>
        <nav>
            链接
        </nav>
        <div>
            <div ng-if="!user">
                <button ng-click="addRegisterNode($event.target)">注册</button>
                <button ng-click="addLoginNode($event.target)">登录</button>
            </div>
            <div ng-if="user">
                <!-- 登录完毕之后显示的个人信息 -->
                <h4 ng-bind="user.name"></h4>
            </div>
        </div>
    </header>
    <a href="./article/edit.html">写文章</a>
    标题<input id="a1" type="text" name="textname"><br>
    描述<input id="a2" type="text" name="des"><br>
    内容<textarea id="a3" name="content" cols="60" rows="20"></textarea><br>
    <button onclick="aaa()">提交</button>
</body>

</html>
<script src="./index.js"></script>