<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./js/angularJS.js"></script>

    <link rel="stylesheet" href="./style/index.css">
    <!-- <script src="./js/angular-sanitize.js"></script> -->
    <title>神行Blog</title>
</head>

<body ng-app="state" ng-controller="user">
    <header>
        logo <br>
        <nav>
            链接
        </nav>
        <div>
            <div ng-if="!user">
                <button ng-click="addRegisterNode($event.target)">注册</button>
                <button ng-click="addLoginNode($event.target)">登录</button>
            </div>
            <div ng-if="user">
                <!-- 登录完毕之后显示的个人信息 -->
                <h4 ng-bind="user.name"></h4>
            </div>
        </div>
    </header>
    <div ng-controller='article'>
        <button ng-click="popup.show()">编辑文章</button>
        <div>
            <section>
                <h4 ng-bind='articleTable[0].textname'></h4>
                <div ng-bind='articleTable[0].content'></div>
            </section>
            <section>
                <h4 ng-bind='articleTable[1].textname'></h4>
                <div ng-bind='articleTable[1].content'></div>
            </section>
            <section>
                <h4 ng-bind='articleTable[2].textname'></h4>
                <div ng-bind='articleTable[2].content'></div>
            </section>
            <section>
                <h4 ng-bind='articleTable[3].textname'></h4>
                <div ng-bind='articleTable[3].content'></div>
            </section>
            <section>
                <h4 ng-bind='articleTable[4].textname'></h4>
                <div ng-bind='articleTable[4].content'></div>
            </section>
            <section>
                <h4 ng-bind='articleTable[5].textname'></h4>
                <div ng-bind='articleTable[5].content'></div>
            </section>
            <section>
                <h4 ng-bind='articleTable[6].textname'></h4>
                <div ng-bind='articleTable[6].content'></div>
            </section>
            <section>
                <h4 ng-bind='articleTable[7].textname'></h4>
                <div ng-bind='articleTable[7].content'></div>
            </section>
            <section>
                <h4 ng-bind='articleTable[8].textname'></h4>
                <div ng-bind='articleTable[8].content'></div>
            </section>
            <section>
                <h4 ng-bind='articleTable[9].textname'></h4>
                <div ng-bind='articleTable[9].content'></div>
            </section>
        </div>
    </div>
    <script src="./js/function.js"></script>
    <script src="./index.js"></script>
</body>

</html>