.popupMask{/* 为index.js中的popup函数中的mask服务 */
    position:fixed;
    top:0;
    left:0;
    z-index:999;
    width:100%;
    height:100%;
    background-color:rgba(112, 92, 76, 0.808);
    line-height:100%;
}
/* 中心弹窗 */
.popupPop{
    width: 250px;
    height: 300px;
    background-color:rgba(107, 94, 223, 0.986);
    border-radius: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
/* 主要写给登录样式的 */
.popupPop div{
    margin-top: 10px;
}
.popupPop div input{
    margin-left: -10px;
}
.popupPop div:nth-child(1){
    margin-top: 60px;
}
.popupPop button{
    margin-top: 10px;
}
/* 关闭浮层的按钮的样式 */
.popupMask .popupOff{
    position:fixed;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color:rgb(207, 56, 56);
}