.popupMask{/* 为index.js中的popup函数中的mask服务 */
    position:fixed;
    top:0;
    left:0;
    z-index:999;
    width:100%;
    height:100%;
    background-color:rgba(112, 92, 76, 0.808);
    line-height:100%;
}
.popupPop{
    width: 250px;
    height: 300px;
    background-color:rgba(107, 94, 223, 0.986);
    text-align:center;
    line-height: 40px;
    border-radius: 20px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.popupMask .popupOff{
    position:fixed;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color:rgb(207, 56, 56);
}