*{
    transition: 1.5s;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", 
"Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", 
"Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    /* 显示元素轮廓，调试用 */
    /* outline:1px solid white; */
}
.hidden{
    display: none;
}
#bgcanvas{
    position:fixed;
    margin: -8px -8px;
    padding: 0;
}
/* table 样式 */
table {
    border-top: 1px solid #a93c00;
    border-left: 1px solid #a93c00;
  }
  table td,
  table th {
    border-bottom: 1px solid #a93c00;
    border-right: 1px solid #a93c00;
    padding: 3px 5px;
  }
  table th {
    border-bottom: 2px solid #a93c00;
    text-align: center;
  }
  
  /* blockquote 样式 */
  blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
  }
  
  /* code 样式 */
code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
}
pre code {
    display: block;
}

  /* ul ol 样式 */
ul, ol {
    margin: 10px 0 10px 20px;
}
iframe{
    width: 100%;
    height: 480px;
}
/* 按钮的按下反馈 */
button:active {
    outline:1px solid white;
    background-color: #dddddd;
}
input{
    height: 22px;
}
body{
    background-color: #ec7c30;
}
button,input,textarea,select,.nameImg,summary{
    vertical-align: middle;/*行内元素垂直居中*/
    border: #1f5bff 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* 消除账号密码框的左边框使其和图片相接 */
.inputR{
    border-left: 0px;
    padding-left: 0px;
    margin-left: 0px;
}
.inputR:focus{
    outline: none;
}
.inputLeftImg{
    padding-right: 0px;
    vertical-align: middle;/*行内元素垂直居中*/
    display: inline;
    height: 24px;/*这里ide报警告，说因为display: inline;无效，但实际上是产生效果了的*/
    border: #1f5bff 1px solid;
    background-color: white;
    border-right: 0px;
}
.inputSearch {
    margin-left: -10px;
}
button,select,summary{
    background: #ffffff;
    padding: 5px 10px;
    border: #ff5a00 1px solid;
}
/* 用户头像按钮的样式 */
.userName{
    height: 40px;width: 40px;
    background-size: 40px 40px;
    border-radius: 40px;
    font-size: 40px;
    padding-top: -10px;
    border: 0px;
}
select{
    height: 27px;
    padding: 5px 4px;
}
header nav { /*导航栏*/
    margin-left: 0px;
    padding-left: 10px;
    border: 1px #f12c2c solid;
    border-top-width: 2px;
    border-left-width: 6px;
    background-color: antiquewhite;
}
section{
    /* 主要是用来滚动查看评论的 */
    position: relative;
    /* overflow-x: hidden; */
    max-height: 610px;
    /* height: 100px; */
    width: 96%;
    height: 350px;
    overflow: hidden;
    padding-left: 10px;
    /* border: 0px #1f5bff solid;
    border-left-width: 9px; */
    margin-bottom: 18px;
    background-color: antiquewhite;
    box-shadow:9px 10px 0px #443f3f87;
    outline: none;
}
/* 展开文章 */
.articleShow{
    /* 原本左边的宽度为9px,现在让其边框则应用margin左移相同的距离 */
    /* border-left-width: 14px; 变化宽度容易卡
    margin-left: -5px; */
    border-color: #a93c00;  
    overflow: auto;
    /* height: 350px; */
    z-index: 5;
    top: 0px;
    left: 0px;
    height: 100%;
}
/* 文章头 */
section header{
    padding: 0px;
    margin: 10px;
    width: 60%;
    height: 50px;
    /* 设置标题的下划线的样式 */
    border: 0px #1f5bff solid;
    border-bottom-width: 3px;
    /* 防止标题溢出 */
    display: block;
    overflow: hidden;
    text-overflow:ellipsis;
}
/* 文章的一些信息 */
section header button,h4{
    margin: 5px;
    display: inline-block;
}
section header div{
    display: inline;
    
}

.articleShow header{
    width: 80%;
    border-color: #ff5a00;
}
/* 管理面板 */
section details ,section > button{
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    display: inline;
}
section details{
    width: 80px;
    height: 200px;
}
section summary{
    width: 50px;
}
section > button{
    top: 40px;
    right: 20px;
    width: 71px;
    padding-left: 0px;padding-right: 0px;
}
/* 管理按钮的css */
section details summary{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
/* articleContent是显示内容的div */
section .articleContent{
    padding: 3px;
    width: 94%;
    overflow: auto;
    min-height: 100px;
    max-height: 480px;
    /* height:46px ; */
    margin-bottom: 4px;
    margin-top: -15px;
    /* 文本溢出则显示省略号，但只能在横排截断上有用而如果是高度超出则无效 */
    text-overflow:ellipsis;
    border: #a93c00 solid 1px;
}
/* 评论*/
.comment{
    width: 100%;
    min-height: 45px;
}
.comment div{
    display: inline;
}
.comment .time{
    font-size: 2px;
    color: #08b1ff;
}
.commentList,.commentList tbody{
    width: 100%;
    border: 0px;
    display: inline-block;
    border-collapse: collapse;
}
.commentList tr{
    display: inline-block;
    width: 100%;
}
.commentList td{
    box-sizing: border-box;/*让元素不被padding影响*/
    /* 因为td不能比内容小 所以要设置为block使其能够比内容小 */
    display: inline-block;
    margin: -10px;/*因为上面的操作导致表格的间隙*/
    height: 40px;
    border: 0px;
    border-bottom: 1px solid darkgoldenrod;
    vertical-align: middle;/*垂直居中*/
    text-align: center;  
}
.commentList td:nth-child(1){/* 用户 */
    overflow: hidden;
    margin: 0px;/*第一个td无需消除间隙*/
    width: 60px;
}
.commentList td:nth-child(2){/* 评论*/
    padding-top: 5px;
    overflow: hidden;
    width: 65%;
    text-overflow:ellipsis;
    white-space: nowrap;   
    line-height: 40px;
}
.commentList td:nth-child(3){/* 时间 */
    width: 90px;
}
.commentList td:nth-child(4){
    margin-left: 5px;
    /* 仅比按钮宽一点点 */
    width: 60px;
}
/* 展示用户信息的面板 */
.showUser{
    display: none;
    position:fixed;
    z-index: 10;
    background-color: #f0f0f0;
}
/* 勉强解决宽度过窄时的布局错乱，将错就错 */
@media (max-width: 765px) {
    .commentList tr{
        margin-top: 6px;
    }
    .commentList td:nth-child(4){
        margin-top: 6px;
    }
}
@media (max-width: 519px) {
    .commentList td:nth-child(3){
        margin-top: 6px;
    }
}

@media (min-width: 766px) {
    main{
        width: 760px;
        margin: 0 auto;
    }
}
@media (min-width: 900px) {
    body > header{
        position : fixed;
        margin-left: 0px;
        width: 100px;
    }
    .controlhead{
        position : fixed;
        margin-left: 770px;
        margin-top: 100px;
        width: 100px;
    }
    .controlhead .inputR{
        margin-left:  0px;
        border: 1px ;
    }
    .controlhead .inputLeftImg{
        display: none;
    }
}
/* 滚动条的设置,仅支持谷歌类的浏览器 */
::-webkit-scrollbar-track-piece {
    background-color:#f8f8f8;
}
::-webkit-scrollbar {
    width:9px;
    height:9px;
}
::-webkit-scrollbar-thumb {
    background-color:#dddddd;
    background-clip:padding-box;
    min-height:28px;
}
::-webkit-scrollbar-thumb:hover {
    background-color:#bbb;
}